@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Propoties */
.h-screen-svh {
    height: 100svh;
}

.h-screen-svh-iframe-map {
    height: 100svh !important;
    overflow-y: hidden;
}

.wh-full {
    width: 100%;
    height: 100%;
}

.wh-full-screen {
    width: 100vw;
    height: 100svh;
}


.fadeIn {
    animation: fadeIn 0.6s ease-in-out forwards;
}

.delay-01 { animation-delay: 0.1s; }
.delay-02 { animation-delay: 0.2s; }
.delay-03 { animation-delay: 0.3s; }
.delay-04 { animation-delay: 0.4s; }
.delay-05 { animation-delay: 0.5s; }
.delay-06 { animation-delay: 0.6s; }
.delay-07 { animation-delay: 0.7s; }
.delay-08 { animation-delay: 0.8s; }
.delay-09 { animation-delay: 0.9s; }
.delay-10 { animation-delay: 1.0s; }
.delay-1 { animation-delay: 1s; }
.delay-2 { animation-delay: 2s; }
.delay-3 { animation-delay: 3s; }
.delay-4 { animation-delay: 4s; }
.delay-5 { animation-delay: 5s; }
.delay-6 { animation-delay: 6s; }
.delay-7 { animation-delay: 7s; }
.delay-8 { animation-delay: 8s; }
.delay-9 { animation-delay: 9s; }
.delay-10 { animation-delay: 10s; }



/* Normal */
body {
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    user-select: none;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}